:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-white: #ECE7E2;
  --primary-green: #4A7766;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-white);
  background: var(--primary-green);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-input {
  margin: 0.5em 0.5em;
}

.green-button {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  font-weight: bold;
}

.green-button:hover {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  font-weight: bold;
}

.white-button {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  font-weight: bold;
}

.white-button:hover {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  font-weight: bold;
}

#disabled-button {
  background-color: gray;
}

/* X-Small Device */
@media (max-width: 576px) {
  .content {
      width: 75%;   
  }
}

/* Small Device */
@media (min-width: 576px) and (max-width: 767.99px) {
  .content {
      width: 50%;   
  }
}

/* Medium-Large Devices */
@media (min-width: 768px) and (max-width: 1199.99px) {
  .content {
      width: 50%;   
  }
}

/* XL Device */
@media (min-width: 1200px) {
  .content {
      width: 50%;   
  }
}