:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --primary-white: #ece7e2;
  --primary-green: #4a7766;
  --color-text: #2d493f;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.green-button {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  font-weight: bold;
}

.green-button:hover {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  font-weight: bold;
}

.white-button {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  font-weight: bold;
}

.white-button:hover {
  background-color: var(--primary-green);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  font-weight: bold;
}

#disabled-button {
  background-color: gray;
}
