.modal {
    background-color: var(--primary-green);
    border: 1px solid var(--primary-white);
}

#newSplitBtn:active {
    background-color: var(--primary-white);
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    font-weight: bold;
}